<div class="flex flex-col">
  <div class="flex justify-start">
    <label for="" class="mr-2" style="font-weight: 500;">Watched</label>
    <label for="" class="mr-2" style="border: 1px solid lightgray; 
    border-radius: 50%; width: 30px; height: 30px; 
    display: flex; justify-content: center; 
    align-items: center;">
      {{ listService.getWatchedLisCount() }}
    </label>
  </div>
  <div class="grid grid-cols-2 pt-4">
    <div class="border p-2"></div>
    <div class="">
      <input type="text" class="border p-2 w-full" placeholder="Search Movies..."
        [formControl]="watchedlistSearchControl">
    </div>
  </div>
  <div class="border px-1">
    <ng-container *ngIf="watchedlistSearchControl.value">
      <app-search [query]="watchedlistSearchControl.value" [listName]="'watchedlist'"></app-search>
    </ng-container>
    <ng-container *ngIf="!watchedlistSearchControl.value">
      <app-movie-item *ngFor="let movie of listService.getWatchedList()" [name]="movie.Title" [image]="movie.Poster"
        [btnName]="'Unwatch'"></app-movie-item>
    </ng-container>
  </div>
</div>