<div class="flex flex-col">
  <div class="flex justify-start">
    <label for="" class="mr-2" style="font-weight: 500;">Watchlist</label>
  </div>
  <div class="grid grid-cols-2 pt-4">
    <div class="border p-2"> </div>
    <div class="">
      <input type="text" class="border p-2 w-full" placeholder="Search Movies...">
    </div>
  </div>
  <div class="border px-1">
    <app-movie-item *ngFor="let movie of watchlistService.getWatchlist()" [name]="movie" [btnName]="'Watched'"></app-movie-item>
  </div>
</div>